<!DOCTYPE HTML>

<html>
	<head>
		<title>ROT13 Cipher</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main_page-style.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="main">
		<div id="title_div"><h2>Welcome to Allen's ROT13 Cipher!</h2></div>
		<form method="post"> 
		<br>
			<textarea id="textarea" name="text" placeholder="Enter some text to ROT13" maxlength="200000">{{old_text}}</textarea>
		<br>
		<br>
			<div id="submit_div"><input id="submit" type="submit" value="Click here to cipher text!"></div>

		</form>
		</div>
	</body>
</html>